

body{
  background-color: black;
  height: 100%;
      width: 100%;
      background: radial-gradient(circle at 50% 50%, #001f3f, #001833, #000a1a);
      background-size: 400% 400%;
      animation: body 10s ease infinite;
    }

    @keyframes body {
      0% {
        background-position: 0% 0%;
      }
      50% {
        background-position: 100% 100%;
      }
      100% {
        background-position: 0% 0%;
      }
    }
